# American community Survey Year 1 Estimates (2015)
 http://api.census.gov/data/2015/acs1.html

In [3]:
import requests
import pandas as pd

In [ ]:
# API key requested from www.census.gov
f = open('/Users/brianna/Dropbox/data_project/census_api_key.txt', 'r')
api_key = f.readline()[:-1]
f.close()

In [12]:
# Population in Urban Areas (60,000+ citizens)
url = 'http://api.census.gov/data/2015/acs1?get=NAME,B01001_001E&for=urban+area:*'
response = requests.get(url)
data = eval(response.content)

# Turn the response into a dataframe and make it pretty
headers = data.pop(0)
df = pd.DataFrame(data, columns=headers)
df.rename(columns={'B01001_001E': 'population', 'urban area': 'urban_area'}, inplace=True)
df['population'] = df.population.apply(lambda x: int(x))
df['urban_area'] = df.urban_area.apply(lambda x: int(x))

In [13]:
df.head()

                                                NAME  population  urban_area
0  Aguadilla--Isabela--San Sebastián, PR Urbanize...      284616         631
1                  Arecibo, PR Urbanized Area (2010)      128461        3034
2                  Fajardo, PR Urbanized Area (2010)       79305       28981
3  Florida--Imbéry--Barceloneta, PR Urbanized Are...       71004       30115
4                  Guayama, PR Urbanized Area (2010)       73110       35866

In [20]:
print(df.sort_values(by='population', ascending=False)[:5])
print(df.sort_values(by='population', ascending=True)[:5])

                                                  NAME  population  urban_area
280  New York--Newark, NY--NJ--CT Urbanized Area (2...    18972363       63217
236  Los Angeles--Long Beach--Anaheim, CA Urbanized...    12638616       51445
81               Chicago, IL--IN Urbanized Area (2010)     8692894       16264
254                    Miami, FL Urbanized Area (2010)     5949146       56602
99   Dallas--Fort Worth--Arlington, TX Urbanized Ar...     5638941       22042
                                           NAME  population  urban_area
234      Longview, WA--OR Urbanized Area (2010)       62353       51283
102  Daphne--Fairhope, AL Urbanized Area (2010)       63645       22285
165           Hanover, PA Urbanized Area (2010)       63876       36784
152   Grand Forks, ND--MN Urbanized Area (2010)       64631       34219
151         Goldsboro, NC Urbanized Area (2010)       65513       33814

In [29]:
df['state_abbv'] = df.NAME.apply(lambda x: x.split(',')[1].split(' ')[1])

In [31]:
df.state_abbv.unique()

array(['PR', 'MD', 'TX', 'OH', 'GA', 'NY', 'NM', 'LA', 'PA--NJ', 'IL--MO',
       'PA', 'IA', 'AK', 'IN', 'SC', 'MI', 'AL', 'CA', 'WI', 'NC', 'NJ',
       'GA--SC', 'AZ', 'MA', 'WV', 'WA', 'WI--IL', 'OR', 'MT', 'NY--PA',
       'ND', 'VA', 'IL', 'ID', 'FL', 'MA--NH--RI', 'CO', 'KY', 'CT--NY',
       'TN--VA', 'VT', 'WY', 'NC--SC', 'TN--GA', 'IL--IN', 'OH--KY--IN',
       'TN--KY', 'TN', 'MO', 'GA--AL', 'AR', 'IA--IL', 'DE', 'NH--ME',
       'MN--WI', 'IN--MI', 'TX--NM', 'IN--KY', 'ND--MN', 'AR--MO',
       'AR--OK', 'MS', 'MD--WV--PA', 'CT', 'WV--KY--OH', 'HI', 'MO--KS',
       'WI--MN', 'NV', 'KS', 'OK', 'NE', 'UT', 'WA--OR', 'KY--IN', 'NH',
       'TN--MS--AR', 'SC--NC', 'NH--MA', 'NY--NJ--CT', 'CT--RI', 'NE--IA',
       'WV--OH', 'FL--AL', 'PA--NJ--DE--MD', 'ME', 'OR--WA', 'NY--NJ',
       'RI--MA', 'SD', 'NV--CA', 'MN', 'IL--WI', 'MO--IL', 'MD--DE',
       'IA--NE--SD', 'MA--CT', 'TX--AR', 'OH--MI', 'DC--VA--MD',
       'WV--OH--PA', 'OH--PA', 'AZ--CA'], dtype=object)

In [41]:
# It appears that cities that span a state border have multiple state labels,
# but the first state label is the official state so I'll approximate that to be
# the right state.

,NAME,population,urban_area,state_abbv
417,"Weirton--Steubenville, WV--OH--PA Urbanized Ar...",68160,93592,WV--OH--PA